h1 {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
    color: rgb(210, 210, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    color: red;
}

.progress{
    height: 8px;
    background-color: #dfdfdf;
    position: relative;
    width:30dvw;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #00c917;
   width: 0%;
}
