:root[data-theme="netflix"] {
  --background-color:#000000;
  --card-fill:#0F0F0F;
  --card-stroke:#343439;
  --primary-color:#E50914;
  --second-color:#A41C22;
  --alert-asterisk-color:#EB3942;
  --main-text:#FFFFFF;
  --text:#CFCFCF;
  --button-text:#FFFFFF;
  --radio-text:#FFFFFF;
  --error-color:#E50914;
  --checkbox-width:20px;
  --checkbox-height:20px;
  --hover-button-color:#B11219;
  --icon: url("../assets/red-icon-checkbox-unchecked.svg");
  --icon-checked: url("../assets/red-icon-checkbox.svg");
}