:root[data-theme="netflix"] {
  --background-color:#000000;
  --card-fill:#0F0F0F;
  --card-stroke:#343439;
  --primary-color:#E50914;
  --second-color:#A41C22;
  --alert-text-color:#EB3942;
  --main-text:#FFFFFF;
  --text:#CFCFCF;
  --button-text:#FFFFFF;
  --radio-text:#FFFFFF;
}