:root {
  --montserrat: 'Montserrat', sans-serif;
}

body {
  background: var(--background-color);
  transition: background 0.5s ease, color 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--montserrat);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 96%;
}

.main-content{
  align-self: center;
}

button {
  background: var(--primary-color);
  color:var(--button-text);
  font-family: var(--montserrat);
  font-weight: bold;
  border: none;
}

button, .password-settings, .titles, .theme-selector{
  transition: background 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.titles h1{
 color: var(--main-text);
 text-align: center;
 font-weight: bold;
}

.titles h3{
  color:var(--text);
  text-align: center;
  font-weight: bold;
}

.password-label{
  background-color: var(--card-fill);
  border-color: var(--card-stroke);
  color: var(--main-text);
  height: 7%;
  width: 100%;
  border-radius: 6px;
  align-items: center;
  padding: 12px;
  border: 1px var(--card-stroke) solid;
}

#copy-button {
  position: absolute;
  right: 8px;
  top: 34%;
  transform: translateY(-50%);
  border-radius: 3px;
  line-height: 1.3;
  padding: 4px 11px;
}

.password-settings{
  color: var(--main-text);
}

.input-group{
position: relative;
width: 1046px;
align-items: center;
}

.slider-group{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

#slider-value{
  margin-left: 17px;
}

#password-length{
  width: 100%;
}

.theme-selector{
  color: var(--radio-text);
  position: relative;
  justify-content: space-between;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 50px;
  top: -60px;
}

.progress{
    height: 8px;
    background-color: var(--card-fill);
    border: 1px var(--card-stroke) solid;
    position: relative;
    width:100%;
    border-radius: 5px;
    padding-right: 24px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   width: 0%;
   border-radius: 5px;
}

.password-settings {
  background-color: var(--card-fill);
  border: 1px var(--card-stroke) solid;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 1070px; 
  height: 333px; 
  border-radius: 6px;
}

.checkbox-preferences {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 80px;
}

.checkbox-preferences label {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight:lighter;
  font-size: 20px;
}

#generate-button {
  padding: 12px;
  width: 227px;
  height: 52px; 
  border-radius: 6px; 
  font-size: 20px;
}

#error-alert-asterisk {
  color: var(--alert-asterisk-color);
}

#error-alert{
  color: var(--alert-color);
}

p:first-letter {
  color: var(--alert-asterisk-color);
}